<!doctype>
<html>
  <head>
    <meta charset="utf-8" />
    <title>RePaper Examples</title>
    <link media="all" rel="stylesheet" href="/repaper.css" />
  </head>
  <body>
    {{{body}}}
  </body>
</html>